* {
    outline: 1px solid crimson;
    box-sizing: border-box;
}

.col {
    background-color: yellowgreen
}

#gameBoard {
    background-color: black;
}

.cell {
    background-color: yellowgreen;
    height: 24px;
    width: 24px;
}

.falling {
    background-color: maroon
}

.filled {
    background-color: black
}